nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999;
    background-color: #434141;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    margin: 0 15px;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

nav a:hover {
    background-color: white;
    transform: scale(1.1);
}

body {
    background-color: black;
    padding-top: 60px;
    margin: 0;
}

#toggleMode {
    position: fixed;
    top: 15px; 
    right: 20px;
    z-index: 1000;
    height: auto;
    width: auto;
}

@media (max-width: 768px) {
    nav a {
        margin: 0 5px; 
        padding: 8px 12px; 
        font-size: 14px;
    }
    
    #toggleMode {
        position: static; 
        margin-left: auto;
        margin-right: 15px;
    }
}
